{% extends 'layout.html' %}
{% block inner %}
<script>
  var set_gender = "{{ class_data.gender }}";
  var set_score = "{{ class_data.score }}";
  var stud_pref = "{{ class_data.stud_pref }}";
  var lead_pref = "{{ class_data.lead_pref }}";
</script>
    <div class="container-fluid">
        <!--Sort Functions Row-->
        <div class="panel panel-default">
            <div class="panel-heading">
            <h1 class="panel-title">Sort Functions</h1>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Class Settings</h3>
                            </div>
                            <div class="panel-body">
                                {% if class_data.gender %}
                                <button type="button" id="srt_fem" class="btn btn-primary btn-xs icon-btn" title="Sort Females into Top Preference">Sort Females</button>
                                {% endif %}
                                {% if class_data.stud_pref %}
                                <button type="button" id="sort_frst" class="btn btn-primary btn-xs icon-btn" title="Sort Students into Top Preference"></i>Sort by Top Preference</button>
                                {% endif %}
                                <!--<i class="icon-large icon-podium icon">
                                <i class="icon-large icon-girl icon"></i>-->
                            </div>
                            <div class="panel-heading">
                                <h3 class="panel-title">Non-Preference Settings</h3>
                            </div>
                            <div class="panel-body">
                                <button type="button" id="srt_non" class="btn btn-primary">Sort Students into Smallest Groups</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Group Size Settings</h3>
                            </div>
                            <div class="panel-body">
                                <label for="grp_range">Set Max/Min Group Sizes</label>
                                <input type="text" id="grp_range" name="grp_range" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Group Settings</h3>
                            </div>
                            <table class="table">
                            <!--<div class="panel-body"></div>-->
                                <tr>
                                    {% if class_data.score %}<td class="right">
                                    <button type="button" id="ordr_scr" class="btn btn-primary btn-xs icon-btn" >Sort Groups by Score</button></td>
                                    {% endif %}
                                    <th>Add/Remove Students by:</th>
                                    <td class="right">
                                        <label>
                                             <input type="checkbox" name="2nd" id="2nd" checked>2nd Choice
                                        </label>
                                        <label>
                                            <input type="checkbox" name="3rd" id="3rd">3rd Choice
                                        </label>
                                    </td>
                                    <td><button type="button" id="srt_rand" class="btn btn-primary">Create Randomized Groups</button></td>
                                </tr>
                                <tr class="info top">
                                    <th>Lock Presenters</th>
                                    <th>{% if class_data.lead_pref %}Lock Presenter Preferences{% endif %}</th>
                                    <th>{% if class_data.gender %}Lock Females{% endif %}</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class= "btn-group">
                                            <button type="button" class="btn btn-default btn-xs icon-btn disabled" title="Lock Proposal Presenters"><i class="icon-large icon-user icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="lock_pres"><i class="icon-large icon-lock icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="unlock_pres"><i class="icon-large icon-unlock icon"></i></button>
                                        </div>
                                    </td>
                                    {% if class_data.lead_pref %}<td>
                                        <div class= "btn-group">
                                            <button type="button" class="btn btn-default btn-xs icon-btn disabled" title="Lock Proposal Presenter Preferences"><i class="icon-large icon-group icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="lock_prefs"><i class="icon-large icon-lock icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="unlock_prefs"><i class="icon-large icon-unlock icon"></i></button>
                                        </div>
                                    </td>{% endif %}
                                    {% if class_data.gender %}<td>
                                        <div class= "btn-group">
                                            <button type="button" class="btn btn-default btn-xs icon-btn disabled" title="Lock Females"><i class="icon-large icon-girl icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="lock_fem"><i class="icon-large icon-lock icon"></i></button>
                                            <button type="button" class="btn btn-default btn-xs icon-btn" id="unlock_fem"><i class="icon-large icon-unlock icon"></i></button>
                                        </div>
                                    </td>{% endif %}
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!--Class and Group Data-->
        <div class="row-fluid">
            <div class="col-md-3">
                <label for="sortable_class" class="control-label">Class List</label>
                <ul id="sortable_class" class="droptrue list-group">
                    {% for student in class_data.classlist %}
                    <li class="ui-state-default list-group-item student" id="{{ student.name }}">
                        {% set count = loop.index %}
                        {{ count }}
                        <button type="button" class="btn btn-default btn-xs lock" id="lock_{{ student.name }}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button> 
                        <label for="{{ student.name }}" id="name_{{ student.name }}">{{ student.name }}</label>
                        {% if class_data.gender %}
                        M/F: 
                        <label for="{{ student.name }}" id="gender_{{ student.name }}">{{ student.gender }}</label>
                        {% endif %}
                        {% if class_data.score %}
                        Score: 
                        <label for="{{ student.name }}" id="score_{{ student.name }}">{{ student.score }}</label>
                        {% endif %}
                        Prefs: 
                        <label for="{{ student.name }}" id="first_{{ student.name }}">{{ student.first }}</label>
                        <label for="{{ student.name }}" id="second_{{ student.name }}">{{ student.second }}</label>
                        <label for="{{ student.name }}" id="third_{{ student.name }}">{{ student.third }}</label> 
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row-fluid">
                <label for="grp_tbl">Groups</label>
                <table class="table table-bordered" id="grp_tbl">
                {% set count = 0 %}
                <tr>
                {% for group in class_data.grouplist %}
                    {% if count == 3%}
                        </tr>
                        {% set count = 0 %}
                        <tr>
                    {% endif %}
                    <td>
                    <div id= "obj_{{ group.id }}">
                        <label for="{{ group.id }}" id="gid_{{ group.id }}" class="control-label">{{ group.id }}</label>.)
                        <label for="{{ group.id }}" id="gname_{{ group.id }}" class="control-label">{{ group.groupname }}</label> -<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <label for="{{ group.id }}" id="glead_{{ group.id }}" class="control-label">{{ group.leader }}</label>
                        <input type ="number" value="0" id="gcount_{{ group.id }}" style="width: 30px; margin: 5px" readonly="true"> 
                        <div id="group_{{ group.id }}"class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default add_mem" id="a_{{ group.id }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                          <button type="button" class="btn btn-default remove_mem" id="r_{{ group.id }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                          <button type="button" class="btn btn-default delete_grp" id="d_{{ group.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                        <input type ="hidden" value="{{ group.preferences }}" id="prefs_{{ group.id }}">
                        <ul id="{{ group.id }}" class="droptrue group_mems"></ul> 
                    </div>
                    </td>
                    {% set count = count + 1 %}
                {% endfor %}       
            </div>
        </div>
    </div>   
{% endblock %}
