<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | Sorting Hat</title>
    {% block head %}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    {% block head %}
  </head>
  <body>
  {% block inner %}
  {% endblock %}
  <!-- javascript at end of body for better load times -->
  {% block foot %}
  <script src="jquery-1.11.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  {% if date %}<script src="js/client.js"></script>{% endif %}
  {% endblock %}
  </body>
</html>
