<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | Sorting Hat</title>
    {% block head %}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.icon-large.css" >
    <link rel="stylesheet" media="screen" href="css/handsontable.full.min.css">
    <link rel="stylesheet" media="screen" href="ion-slider/css/ion.rangeSlider.css">
    <link rel="stylesheet" media="screen" href="ion-slider/css/ion.rangeSlider.skinHTML5.css">
    <link rel="stylesheet" media="screen" href="css/dropdowns-enhancement.min.css">
    <link rel="stylesheet" href="css/style.css">
    {% block head %}
  </head>
  <body data-spy="scroll" data-target="#sort-hat-navigation">
  {{ header|safe }}
  {% block inner %}
  {% endblock %}
  <!-- javascript at end of body for better load times -->
  {% block foot %}
  <script src="jquery-1.11.2.min.js"></script>
  <script src="jquery-ui.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/handsontable.full.min.js"></script>
  <script src="js/dropdowns-enhancement.js"></script>
  <script src="js/data_enter.js"></script>
  {% if !tutorial %}
  <script src="js/student_data_enter.js"></script>
  <script src="js/group_data_enter.js"></script>
  <script src="js/server_data.js"></script>
  {% endif %}
  <script src="js/sort.js"></script>
  <script src="js/sort_help.js"></script>
  <script src="js/locks.js"></script>
  <script src="ion-slider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
  <script type="text/javascript">
    $('body').scrollspy({ target: '#sort-hat-navigation' })
  </script>
  {% if tutorial %}
    <script src="js/tutorial.js"></script>
  {% endif %}
  {% endblock %}
  </body>
</html>
