{% extends 'layout.html' %}
{% block inner %}
  <div class="container">
    <h3>{{ heading }}</h3>
    <div class="jumbotron" id="settings">
        <form class="form-horizontal" method="POST">
          <div class="form-group">
            <h4><label for="classname" class="col-sm-2 control-label">Class Name</label></h4>
            <div class="col-sm-8 col-md-8">
              <input type="text" class="form-control" id="classname" 
              name="classname" placeholder="Class Name" required>
            </div>
          </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Include:</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group container">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="gender" id="gender"> Student Gender
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="score" id="score"> Student Scores
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="stud_pref" id="stud_pref">Student Preference (students top three choices)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="lead_pref" id="lead_pref">Proposal Presenter Preference (presenter's teammate preferences)
                        </label>
                      </div>
                  </div>
                </div>
            </div>
          <div class="form-group">
            <div class="col-md-10">
               <a href="#data-entry"><button type="submit" class="btn btn-default">Enter Settings</button></a>
            </div>
          </div>
        </form>
    </div>
    <div class="jumbotron" id="data-entry">
        <form class="form-horizontal" enctype="multipart/form-data">
          <div class="form-group">
            <div class="panel panel-info">
              <!-- Default panel contents -->
              <div class="panel-heading"><h5>Paste Class Data</h5></div>
              <div class="panel-body">
                <p>You can copy/paste into the table from any spreadsheet, or manually type entries. Please note that this product is in beta, and currently doesn't perform any validations. Therefore, it is important to ensure that: 1) GENDER is either M/F, 2) SCORE is a valid number, and 3) PREFERENCES exactly match group names.</p>
              </div>
              <!-- Table -->
              <div id = "students_enter">
              </div>
            </div>
          </div>
          <div class="form-group" id="grp_data">
            <div class="panel panel-info">
              <!-- Default panel contents -->
              <div class="panel-heading"><h5>Paste Group Data</h5></div>
                <div class="panel-body">
                  <p>You can copy/paste into the table from any spreadsheet, or manually type entries. Please note that this product is in beta, and currently doesn't perform any validations. Therefore, it is important to ensure that: 1) GROUP NAMES exactly match the STUDENT PREFERENCES in the class data, 2) PROPOSAL PRESENTERS are included in the class data and exactly match their uniquenames in the class data, and 3) TEAMMATE PREFERENCES exactly match student uniquenames in the class data.</p>
                  <h4 class="col-md-offset-8">Add/Remove Teammate Preference</h4>
                  <div class="col-md-offset-10 btn-group" id="add_sub_pref">
                    <button id="add_pref" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <button id="sub_pref" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                  </div>
                </div>
                <div id = "groups_enter">
                </div>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-md-10">
              <a href="#class-sort"><button id = "upload" type="button" class="btn btn-default">Upload</button></a>
            </div>
          </div>
        </form>
    </div>
    <div class="jumbotron" id="class-sort">
        <div class="container-fluid">
            <!--Sort Functions Menu-->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand">Sort Functions</a>
                </div>
                <div class="collapse navbar-collapse" id="sort-fn">
                  <ul class="nav navbar-nav">
                    <li class="dropdown" id="class-fn">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student Sort<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a id="srt_fem">Sort Females</a></li>
                        <li><a id="sort_frst">Sort by Top Preference</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a id="srt_non">Sort Remaining Students in Class List into Smallest Groups</a></li>
                        <li><a id="restart">Clear Groups (Start Over)</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-placeholder="false">Group Sort<span class="caret"></span></a>
                      <ul class="dropdown-menu noclose" role="menu">
                        <li><a href="#" >Set Max/Min Group Size</a></li>
                        <!--<input type="text" id="grp_range" name="grp_range" value=""/>-->
                        <li role="presentation" class="divider"></li>
                        <li><a id="ordr_scr" >Sort Groups by Score</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Add/Remove Students by:</li>
                        <li><input type="checkbox" name="2nd" id="2nd" checked><label for="2nd">2nd Choice</label></li>
                        <li><input type="checkbox" name="3rd" id="3rd"><label for="3rd">3rd Choice</label></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Locks</li>
                        <li><input type="checkbox" name="lock_pres" id="lock_pres"><label for="lock_pres">Lock Presenters</label></li>
                        <li><input type="checkbox" name="lock_prefs" id="lock_prefs"><label for="lock_prefs">Lock Presenter Preferences</label></li>
                        <li><input type="checkbox" name="lock_fems" id="lock_fems"><label for="lock_fems">Lock Females</label></li>
                        <li role="presentation" class="divider"></li>
                        <li><a id="srt_rand">Create Randomized Groups</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <!--Class and Group Data-->
            <div class="row-fluid">
                <div class="col-md-3">
                    <label for="sortable_class" class="control-label">Class List</label>
                    <ul id="sortable_class" class="droptrue list-group"></ul>
                </div>
                <div class="col-md-9">
                    <div class="row-fluid">
                    <label for="grp_tbl">Groups</label>
                    <table class="table table-bordered" id="grp_tbl"></table>
                </div>
            </div>
        </div>   
    </div>
  </div>
{% endblock %}
