{% extends 'new_class_tpl.html' %}
{% block content %}
<script>
  var gender = "{{ class_obj.gender }}";
  var score = "{{ class_obj.score }}";
  var stud_pref = "{{ class_obj.stud_pref }}";
  var lead_pref = "{{ class_obj.lead_pref }}";
</script>
<form class="form-horizontal" enctype="multipart/form-data">
  <h5>Paste Class Data: </h5>
  <div class="form-group">
    <div id = "students_enter">
    </div>
  </div>
  <h5>Paste Group Names: </h5>
  <div class="form-group">
    <div id = "groups_enter">
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
       <button id = "submit" type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
