<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | Sorting Hat</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.icon-large.css" >
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
        <div class="container-fluid">
          <nav class="navbar navbar-default navbar-fixed-top">
            <!--<div class="container-fluid">-->
              <div class="navbar-header" id="sort-hat-navigation">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Team Sorting Hat</a>
              </div>
          </nav> 
        </div>
      </header>
    <div class="container">
      <h3>{{ heading }}</h3>
       <div class="col-md-9">
          <div class="row-fluid">
            <label for="grp_tbl">Groups</label>
            <table class="table table-bordered white_back" id="print_tbl"></table>
          </div>
          <div class="col-md-9">
          <div class="row-fluid">
            <label for="grp_tbl">Stats</label>
            <table class="table table-bordered white_back" id="stat_tbl"></table>
          </div>
        </div>
      </div>
    </div>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/print.js"></script>
  </body>
</html>
