<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | Sorting Hat</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-switch.min.css" >
  </head>
  <body>
    {{ header|safe }}
    <div class="container">
      <form>
        <div class="form-group">
          <label for="selectClass">Select Class</label>
            <select class="form-control">
              {% for classname in class_list %}
                <option>{{ classname }}</option>
              {% endfor %}
            </select>
      </form>
    </div>
  <!-- javascript at end of body for better load times -->
  <script src="jquery-1.11.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/bootstrap-switch.min.js"></script>
  </body>
</html>


