body {
    padding-top: 1%;
    position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.female {
    background-color: #FFF2FF;
}

.pres_danger {
    background-color: #D0A1A1;
}

.student {
    cursor:default;
}

.dropdown {
    cursor:default;
}

.preference {
    padding-left: 5px;
}

#sortable_class {
    min-height: 50px;
    padding-bottom: 50px;
}

.grp_sz_box {
    width: 30px; 
    margin: 5px;
}

.group_mems {
    list-style-type: none;
    padding: 5px 0 50px 0;
    min-height: 100px;
}

.icon-btn {
    vertical-align: middle; 
    /*padding-bottom: 10px;*/
}

.icon {
    margin: 5px 0 0 2px;
}

.btn:focus {
  outline: none;
}

.btn.disabled {
    pointer-events: auto;
}

tr.top td { border-top: thin solid #ddd; }
tr.bottom td { border-bottom: thin solid #ddd; }
td.left { border-left: thin solid #ddd; }
td.right { border-right: thin solid #ddd; }


